### Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt

# Virtualenv
pip-wheel-metadata/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit cache
.streamlit/

# Local venv in subdir
deadlock_detector/venv/
deadlock_detector/env/
